.context-menu {
    display: none;
    position: absolute;
    background-color: var(--main-bg-menu);
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    z-index: 20;
    .options {
        color: var(--main-light);
        border-bottom: 1px solid black;
        padding: 10px;
        cursor: pointer;
        transition: 0.7s background-color;
        &:hover {
            background-color: var(--main-bg-menu-hover);
        }
    }
}

.active {
    display: block;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.1s;
}

.fadeIn2 {
    animation-name: fadeIn2;
    animation-duration: 0.1s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.9;
    }
    20% {
        opacity: 0.8;
    }
    30% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.2;
    }
    90% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
