:root {
    --main-bg-menu: #141a1d;
    --main-bg-menu-hover: rgb(42, 51, 58);
    --main-bg: #16202b;
    --main-bg-hover: rgb(25, 38, 51);
    --main-primary: #ec6139;
    --main-light: #e1e1e1;
    --main-light-disable: rgb(100, 98, 98);
}
