// Borrame debugs
.debug,
.debug-right {
    outline: 1px solid red;
}

.debug-blue {
    outline: 1px solid blue;
}

.debug-orange {
    outline: 1px solid orange;
}

.debug-orange-red {
    outline: 1px solid orangered;
}

.debug-green {
    outline: 1px solid green;
}

.debug-white {
    outline: 1px solid white;
}
