// TODO: Cuarentena borrar.
// .canvas-tool-container {
//     display: inline-block;
//     width: 100%;
//     // Se calcula -40px por el menú
//     height: calc(100vh - 40px);
//     outline: 1px solid red;
//     .canvas-panel {
//         height: calc(100% - 50px);
//     }
//     .tools-panel {
//         height: 50px;
//         background-color: var(--main-bg-menu);
//         .zoom-input-view {
//             input {
//                 width: 40px;
//                 outline: none;
//                 border: none;
//                 border-radius: 3px;
//                 text-align: right;
//             }
//         }
//     }
// }
.image-container--scroll {
    height: calc(100vh - 100px);
    overflow: hidden;

}
.images-container {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    .image-container {
        // Esto hay que remover
        display: inline-block;
        width: 200px;
        height: 250px;
        overflow: hidden;
        padding: 0px;
        text-overflow: ellipsis;
        // outline: 1px solid red;
        .figure {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            margin: 0px;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
            &:hover {
                background-color: var(--main-bg-menu-hover);
            }
            img {
                width: 100%;
                max-height: 200px;
                box-shadow: 2px 2px 5px black;
            }
            figcaption {
                text-align: center;
                text-overflow: ellipsis;
                overflow-wrap: break-word;
                width: 100%;
                max-height: 35px;
                color: var(--main-light);
            }
        }
    }
}
.tools {
    background-color: var(--main-bg-menu);
    .tools-container {
        width: 80%;
        height: 60px;
    }
    .scale-text {
        color: var(--main-light);
        font-size: 1.3rem;
    }
    .input-scale {
        font-size: 1.4rem;
        text-align: right;
        border: none;
        border-radius: 3px;
    }
}
