.drag-drop-box-over {
    background-color: var(--main-bg-hover);
}

// .drag-drop-box {
    // $tam: inherit;
    // height: calc($tam - 50px);
// }
.drag-drop-box-notification {
    border: 2px solid white;
    border-radius: 5px;
    width: 150px;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    color: white;
}
